

/* ------ Contacts css settings */
.profile-content {
    padding: 25px 20px 0 0;
    line-height: 1.4em;
}
.profile-content h3 {
    margin: 0;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #81817f;
    font-weight: 600;
}
.profile-content .lead {
    font-size: 14px;
    line-height: 100%;
    margin: 3px 0 20px;
    text-transform: uppercase;
    color: #81817f;
    letter-spacing: 1px;
}
.profile-content p {
    font-size: 16px;
    margin: 3px 0 2px;
    color: #adadad;
}
.profile-splitter{
    border: 2px #dededc;
    border-bottom-style: solid;
}
.profile-footer {
    text-align: center;
    padding: 25px 0px 0px 0px;
}
.profile-footer  a {
    line-height: 18px;
    margin: 0 3px;
    display: inline-block;
    color: #adadad;
}
.profile-footer a:hover i {
    color: #254fa6;
}
.profile-footer a:active i {
    color: #fff;
}
.profile-footer i {
    font-size: 16px;
}
