<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NOD2</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" type="text/css" href="css/default.css" />
    <link rel="stylesheet" type="text/css" href="css/component.css" />
    <link rel="stylesheet" type="text/css" href="css/font-awesome.css">
    <script src="js/vue.js"></script>
    <script  type="text/javascript"  src="js/jquery.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="js/lodash.min.js"></script>


</head>
<body>
<div class="container">
    <header class="clearfix">
        <h1 >Предприятия НОД-2</h1><br>
    </header><br>
    <div id="accordition-list" class="main">
    <div class="panel panel-default sp-filterbar">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-12">
                    <p>
                      Список можно отфильтровать набрав наименование предприятия/отдела, либо начав набрать ФИО
                    </p>
                 </div>
            </div>
            <div class="row">
                <div class="col-md-5">

                        <div class="sp-seachform">
                            <input type="text" v-model="filterDepartment" class="form-control" placeholder="Предприятие / отдел" >
                        </div>
                   <p> {{ filterDepartment }}</p>
                </div>
                <div class="col-md-1">
                </div>
                <div class="col-md-5">
                        <div class="sp-seachform">
                            <input type="text" v-model="filterFIO" class="form-control" placeholder="ФИО">
                        </div>
                    <p> {{ answer }}</p>

                </div>
                <div class="col-md-1">
                </div>

            </div>
        </div>
    </div>



    <div  class="loading"  v-if="loading">
        <i  class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
    </div>

    <ul id="cbp-ntaccordion" class="cbp-ntaccordion">
        <li  is="acitem" v-for="oneitem in items" :item="oneitem" ></li>
    </ul>
<!--
    <pre>
    {{$data.items | json}}
   </pre>
-->
</div>
</div>
<template id="acc-main-list-template">
<li :class="(itemvisible) ? 'cbp-ntopen' : ''"  >
    <h3 class="cbp-nttrigger"  @click.prevent="item_click();" v-html="item.name"></h3>
    <div class="cbp-ntcontent" v-if="itemvisible">
        <ul class="cbp-ntsubaccordion">
            <li  is="acdepartment" v-for="oneitem in item.departments" :item="oneitem" ></li>
        </ul>
    </div>
</li>
</template>
<template id="acc-list-template">
<li :class="computedClass"  >
    <h4 :class="departmetClasses" @click.prevent="item_click();" v-html="item.depTitle+'<span>'+(item.fullDepName || '')+'</span>'"> </h4>
    <div class="cbp-ntcontent" v-if="itemvisible" >
        <div class="holder" >
            <div class="row" v-for="(oneContact,index) in contactsArray">
                <div :class="'col-md-3 profile-footer ' + ((index>0) ? 'profile-splitter':'')">
                    <i class="fa fa-phone" v-if="oneContact.telefon"></i><span v-if="oneContact.telefon"  v-html="oneContact.telefon"></span>
                    <p>
                        <a :href="'mailto:'+oneContact.email" v-if="oneContact.email"><i class="fa fa-envelope"></i></a>
                        <a :href="'sip:'+oneContact.sip" v-if="oneContact.sip"><i class="fa fa-skype"></i></a>
                    </p>
                </div>
                <div :class="'col-md-8 profile-content ' + ((index>0) ? 'profile-splitter':'')">
                    <h3 v-html="oneContact.Title"></h3>
                    <p class="lead position">{{oneContact.dolg}}</p>
                    <p>{{oneContact.comment}}</p>
                </div>
            </div>
        </div>
    </div>
</li>
</template>

    <script src="js/accordition.js"></script>
</body>
</html>